Django==1.9.6
Markdown==2.6.6
SPADE==2.2.1
SPARQLWrapper==1.7.6
argparse==1.2.1
django-filter==0.13.0
djangorestframework==3.3.3
html5lib==0.9999999
isodate==0.5.4
keepalive==0.5
oauthlib==1.1.1
pexpect==4.1.0
ptyprocess==0.5.1
pyparsing==2.1.4
rdflib==4.2.1
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
tweepy==3.5.0
unittest-xml-reporting==2.1.0
wsgiref==0.1.2
