<div class="col-lg-9 col-md-9 col-sm-7">
    <h1 style="color: rgba(50,180,220,1)">{{ keyword.key }}</h1>
    <p><strong>Liczba pomiarow</strong>: {{ sentiments.count }}</p>
    <p><strong>Średnia wartość sentymentu</strong>: {{ sentiments.avg }}</p>
    <p><strong>Ostatni tweet</strong>: {{ last_tweet.text }}</p>

    <canvas id="sentiment-chart" width="600" height="300"></canvas>

    <div>
        <table class="table-striped table-hover">
        <thead>
        <tr>
            <th>Data</th>
            <th>Wartość sentymentu</th>
            <th>Tweet</th>
        </tr>
        </thead>
        <tbody>
        {% for sentiment in sentiments.list %}
            <tr>
                <td style="padding: 10px" class="col-md-2">{{ sentiment.created_date }}</td>
                <td style="padding: 10px" class="col-md-2">{{ sentiment.value }}</td>
                <td style="padding: 10px" class="col-md-8">{{ sentiment.tweet.text }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

</div>